* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.header {
    padding-top: .5vh;
    display: flex;
    flex-direction: row;
    height: 7vh;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
}

#logo { 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 5px;
    
}

#signInButton {
    background-color: grey; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 50px; /* Make it round */
    padding: 10px 20px; /* Adjust padding for size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
    margin-left: 240px;
    margin-bottom: 5px;
  }
  
  #signInButton:hover {
    background-color: lightgrey; /* Slightly darker green on hover */
  }
  
  #signInButton:active {
    transform: scale(0.98); /* Slightly shrink on click */
  }

  #daysContainer {
    height: 50vh;
    padding-top: 10px;
    overflow-y: scroll;
  }

  #dayDiv {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  #deleteButton {
    background-image: url('public/redMinus.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
    border: none;
    margin-left: 5px;
    margin-top: 5px;
  }

  #addButton {
    background-image: url('public/addSymbol.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
    border: none;
    margin-left: 10px;
  }

.cogButton {
    width: 30px;
    height: 30px;
    border: none;
    margin-left: 70vw;
    margin-top: 2vh;
    background-color: transparent;
    background-image: url('public/settingsCog.png'); /* Add your SVG cog image */
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
  }

#continueContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#continueButton {
    background-color: grey; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 50px; /* Make it round */
    padding: 10px 20px; /* Adjust padding for size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }