* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.header {
    padding-top: .5vh;
    display: flex;
    flex-direction: row;
    height: 7vh;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
}

#logo { 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 5px;
    
}

#signInButton {
    background-color: grey; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 50px; /* Make it round */
    padding: 10px 20px; /* Adjust padding for size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
    margin-left: 240px;
    margin-bottom: 5px;
  }
  
  #signInButton:hover {
    background-color: lightgrey; /* Slightly darker green on hover */
  }
  
  #signInButton:active {
    transform: scale(0.98); /* Slightly shrink on click */
  }

  #daysContainer {
    height: 50vh;
    padding-top: 10px;
    overflow-y: scroll;
  }

  #dayDiv {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  #deleteButton {
    background-image: url('public/redMinus.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
    border: none;
    margin-left: 5px;
    margin-top: 5px;
  }

  #addButton {
    background-image: url('public/plus-icon.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
    border: none;
    margin-left: 10px;
  }

.cogButton {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-image: url('public/settings-cog.png'); /* Add your SVG cog image */
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
  }

#continueContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#continueButton {
    background-color: grey; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 50px; /* Make it round */
    padding: 10px 20px; /* Adjust padding for size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }

  #header-container {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
  }

  #day-label-container {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: baseline;
    height: 100%;
    width: 80%;
    padding-left: 5%;
  
  }

  #day-label {
    text-transform: capitalize;
    font-weight: bold;
  }

  #settings-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
    height: 100%;
    width: 20%;
  }

  #my-exercises-container {
    height: 80vh;
    width: 100%;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid black;
  }

  #add-exercises-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid black;
    overflow-y: scroll;
  }

  #add-exercise-exercise-container {
    min-height: 10vh;
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
  }

  #bottom-bar-container {
    height: 10vh;
    width: 100%;
    display:flex;
    flex-direction: row;
  }

  #left-button-container {
    display: flex;
    width: 30vw;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  #left-arrow-button {
    border: none;
    background-image: url('public/nav-arrow.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
  }

  #add-button-container {
    display: flex;
    width: 40vw;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  #add-button {
    border: none;
    background-image: url('public/plus-icon.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
  }

  #down-arrow-button {
    border: none;
    background-image: url('public/minus-sign.png');
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
  }

  #right-button-container {
    display: flex;
    width: 30vw;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  #right-arrow-button {
    border: none;
    background-image: url('public/nav-arrow.png');
    transform: scaleX(-1);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
  }


